* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 200px 1fr 80px; 
    min-height: 100vh;
    font-family: sans-serif;
}

header {
    grid-column: 1 / -1;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header .fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header h1 {
    color: white;
    font-family: Verdana;
    z-index: 1;
    margin-bottom: 10px;
}

nav {
    z-index: 1;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0.5rem;
}

nav a {
    position: relative;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}


.ti {
    background-color: #020202bb;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


main {
    grid-column: 1 / 3;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(105, 209, 250, 0.94) 31%, rgba(78, 101, 230, 0.938) 58%);
}

aside {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 2rem;
    background: white;
    width: 100%;
}

aside h3 {
    color: #04cae4;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.post p {
    color: rgb(7, 144, 185);
    font-size: 0.95rem;
    width: 65%;
}

.post img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-left: 3px solid #000000;
    padding-left: 5px;
}

.ART {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.L h1 {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

.L img {
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.L img:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.L p {
    font-size: 1rem;
    line-height: 1.6;
    color: #222;
    margin: 2rem;
}
.L li{
    margin: 2rem;
}

footer {
    grid-column: 1 / -1;
    height: 80px;
    padding: 2rem;
    color: gray;
    text-align: center;
    background: black;
}
