*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background: pink;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

section, article{
    margin: 1rem;
    border: solid 3px;
    display: flex;
    border-radius: 1rem;
}

section{
    background: lightpink;
    width: 550px;
    flex-wrap: wrap;
}
article{
    background: lightblue;
    width: 100px;
    height: 100px;
    padding: 1rem;
    font-size: 3rem;
}

#row{ flex-direction: row;}
#row_rever{flex-direction: row-reverse;}
#column{flex-direction: column; height: 450px;}
#colu_rever{flex-direction: column-reverse; height: 450px;}