section{
    display: flex;
    background: blanchedalmond;
}

article{
    height: 100px;
    width: 100px;
    background: white;
}

section, article{
    border: solid 3px;
    margin: 1rem;
    border-radius: 1rem;
}

#izq{ justify-content: flex-start;}
#der{justify-content: flex-end;}
#cen{justify-content: center;}
#entre{justify-content: space-between;}
#alre{justify-content: space-around;}
#even{justify-content: space-evenly;}

